<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::head}, ~{::section})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리</title>
</head>
<body>
<section>
    카테고리 수정 페이지

    <div>
        <label for="parentCategoryName">대분류</label>
        <input type="text" id="parentCategoryName" name="name" placeholder="카테고리 이름">
        <input type="hidden" id="parentCategoryDepth" name="name">
        <button type="button" id="btn_parentCategory_regist">+</button>
    </div>


    <div style="display: flex; flex-direction: row">
        <div id="parentCategoryList">
            <div th:each="parent: ${parentCategoryList}">
                <p th:text="${parent.name}" style="cursor: pointer; display: inline;" th:onclick="|selectParent(${parent.id})|"></p>
                <button th:if="${#lists.isEmpty(parent.childCategories)}" type="button" id="btn_deleteCategory" th:onclick="|deleteCategory(${parent.id}, this)|">삭제 </button>
            </div>
        </div>

        <div id="childCategory">

        </div>
    </div>

<script type="text/javascript" th:src="@{/js/category/category.js}" defer></script>
<script th:inline="javascript" defer>
    const Category = {
        /*<![CDATA[*/

        parent: /*[[${parentCategoryList}]]*/,
        getChildList(parentId){
            return this.parent.filter(parent => parent.id === parentId)[0];
        }
        /*]]>*/
    }

    console.log(Category.parent);
</script>

</script>
</section>
</body>
</html>